#imagesContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  gap: 2px; /* Space between the cards */
  padding: 10px;
  width: 100%;
}

.item-card {
  border: 1px solid #ddd;
  background-color: white;
  margin: 25px 10px;
  text-align: left;
  width: 226px;
  height: 400px; 
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  
  .item-card img {
    max-width: 100%;
    max-height: 150px;
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto 10px auto;
  }
  
  .item-card .description {
    margin: 15px 10px;
    color: #333;
    font-size: 16px;
    
  }
  
  .item-card p {
    /* background-color: #aaa; */
    /* padding: 10px; */
    color: #333;
    margin: 5px 10px;
    font-size: 14px;
  }
  .timer {
    color: rgb(106, 4, 4);
    font-weight: 1000;
    margin-top: -30px;
    font-size: 25px;
    text-align: center;
  }
  
  .inline-elements {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .inline-elements label {
    color: #333;
    margin-right: 5px;
  }
  
  .inline-elements input[type="number"] {
    margin-right: 5px;
    width: 60%;
  }
  
  .inline-elements button {
    width: 20%;
    background-color: #555;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }

  #auctionMessage {
    text-align: center;
  }
  