.signin-form div {
    padding-bottom: 10px;
  }
  
  .signin-button {
    background-color: #555;
    cursor: pointer;
    color: white;
    padding: 5px 10px;
  }
  .register-text{
    text-align: center;
    margin-top: 50px;
  }
  #register{
    color: white;
    background-color: black;
    padding: 5px 5px;
    text-decoration: none;
  }