.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  /* gap: 10px; */
  align-items: center;
  justify-content: space-between;
  /* width: 100%; */
  padding: 10px 20px;
  box-sizing: border-box;
}

.button-container .left-buttons {
  display: flex;
  gap: 10px;
}
.button-container p{
  margin: 0;
  /* width: 7%; */
}

#clickText {
  cursor: pointer;
  color: white;
  font-size: large;
  /* letter-spacing: 5px; */
  border: 2px solid black;
  background-color: #555;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.sortBox {
  text-align: end;
  margin-right: 30px;
}
