.button-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

#clickText {
  cursor: pointer;
  color: white;
  font-size: large;
  border: 2px solid black;
  background-color: #555;
  text-align: center;
  width: 5%;
  padding: 10px 2px;
  text-decoration: none;
  margin-left: 20px;
}

