body {
  /* font-family: URW Chancery L, cursive; */
  font-variant: small-caps;
  /* font-family: 'Courier New', Courier, monospace; */
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-color:#eee;
  overflow-x: hidden;
}

html, body {
  height: 100%;
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
}

form > div {
  margin-bottom: 5px;
}

form label {
  margin-bottom: 5px;
}

form input, select {
  padding: 8px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
h1 {
  text-align: center;
  padding: 0px;
  margin-bottom: 10px;
}
select{
  margin-bottom: 5px;

}
.items-heading {
  color: white;
  /* font-family: arial; */
  border: 2px solid black;
  padding: 10px;
  font-size: 24px;
  width: 100%;
  background-color: #555;
}
.signup-form p{
  margin: 5px 0;
}

